<footer class="footer pt-5 mt-5">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 ms-auto ">
        <div>
          <h5 class="text-gradient text-primary font-weight-bolder">IT Company Task Manager</h5>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-5 mb-4">
        <div>
          <h5 class="text-gradient text-primary font-weight-bolder">Tasks Info:</h5>
          <ul class="flex-column ms-n3 nav ">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task_manager:task-list' %}" target="_blank">
                All tasks
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task_manager:task-type-list' %}" target="_blank">
                ️Task types
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h5 class="text-gradient text-primary font-weight-bolder">Workers Info:</h5>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task_manager:worker-list' %}" target="_blank">
                All workers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task_manager:position-list' %}" target="_blank">
                Positions
              </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
